*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;
}


.nav{
    position: relative;
    height: 65vh;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url('img/hero.jpg');
    background-size: cover;
    background-position: center;
}

#rutas{
    background: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url('img/hero2.jpg');
    background-size: cover;
    background-position: center;
}

#acerca{
    background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url('img/hero3.jpg');
    background-size: cover;
    background-position: center;
}

.navbar{
    width: 80%;
    height: 10vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid #fff; */
}

.navbar h1{
    color: #fff;
}

.menu ul li{
    display: inline-block;
    list-style: none;
    color: #fff;
}

.menu li a{
    color: #fff;
    text-decoration: none;
    /* background: #0f990f;
    padding: 8px 24px;
    border-radius: 6px; */
}

/* .menu li img{
    width: 35px;
    border-radius: 50%;
}

.menu img{
    margin-top: 52px;
    width: 65px;
    border-radius: 50%;
} */

.nav img{
    position: absolute;
    top: 10px;
    right: 56px;
    width: 55px;
    border-radius: 50%;
    cursor: pointer;
}

.nav span{
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 80px;
    right: 45px;
    width: 75px;
    height: 25px;
    background: #fff;
    color: #000;
    border-radius: 6px;
    visibility: hidden;
}

.navbar li{
    padding: 16px;
}

/* .hero{
    height: 50vh;
    width: 100%;
} */

.hero{
    width: 90%;
    margin: 24px auto;
    height: 40vh;
    /* border: 1px solid #fff; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero h2{
    color: #fff;
    padding: 16px;
    font-size: 42px;
}

.hero p{
    color: #fff;
}

.btns{
    display: flex;
}

.btns a{
    display: block;
    display: flex;
    height: 32px;
    width: 132px;
    justify-content: center;
    align-items: center;
    background: #0f990f;
    text-decoration: none;
    color: #fff;
    margin: 16px 16px;
    border-radius: 6px;
    font-weight: 100;
}

.title{
    text-align: center;
    margin: 24px 0px;
    font-size: 20px;
}

.list-top{
    height: 30vh;
    width: 90%;
    margin: 24px auto;
    display: flex;
    justify-content: space-around;
    background: rgb(245, 243, 243);
    /* border: 1px solid #000; */
}

.card-top{
    width: 250px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* border: 1px solid #000; */
}

.card-top img{
    width: 90px;
    margin-bottom: 16px;
    border-radius: 50%;
}

.card-top i{
    font-size: 40px;
}

.card-top h4{
    padding: 8px 0px;
}

.card-top p{
    text-align: center;
}

section{
    width: 90%;
    margin: auto;
    height: 100vh;
    display: flex;
}

section img{
    height: 80%;
}

#section-rutas{
    flex-direction: column;
    /* border: 1px solid #000; */
}

.content-right, .content-left{
    width: 50%;
    height: 100%;
    /* border: 1px solid #000; */
}

.content-right{
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-right p{
    font-size: 32px;
}

.redes{
    width: 100%;
    height: 150px;
    background: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.redes i{
    font-size: 40px;
    margin: 0px 16px;
}

/* Populares Page*/

.video-content{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.video-content video{
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    overflow: hidden;
}

.video-content{
    background: linear-gradient(rgba(0, 0, 0, 0.253),rgba(0, 0, 0, 0.26));
}

.cinco-card{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 65vh;
    margin: 32px auto;
    /* border: 1px solid #000; */
    border-radius: 10px;
    color: #fff;
}

.cinco-card h1{
    margin: 32px 32px;
    font-size: 48px;
}

.cinco-card p{
    margin: 8px 32px;
    line-height: 26px;
    letter-spacing: 2px;
}

.cinco-card a{
    width: 220px;
    height: 40px;
    display: block;
    margin: 24px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #000;
    background: #fff;
    border-radius: 6px;
}

#cdmx{
    background: linear-gradient(rgba(0, 0, 0, 0.65),rgba(0, 0, 0, 0.65)), url('img/cdmx.jpg');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    object-fit: fill;
}

#jalisco{
    background: linear-gradient(rgba(0, 0, 0, 0.65),rgba(0, 0, 0, 0.65)), url('img/jalisco.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    object-fit: fill;
}

#toluca{
    background: linear-gradient(rgba(0, 0, 0, 0.65),rgba(0, 0, 0, 0.65)), url('img/toluca.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: fill;
}

#campeche{
    background: linear-gradient(rgba(0, 0, 0, 0.65),rgba(0, 0, 0, 0.65)), url('img/campeche.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    object-fit: fill;
}

/* RutasPage */

.options-rutas{
    width: 80%;
    height: 100px;
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid #000; */
}

.video-rutas{
    position: relative;
    width: 60%;
    height: 60%;
    margin: 16px auto;
    overflow: hidden;
}

.video-rutas video{
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    overflow: hidden;
}

.search label {
    margin: 8px;
}

.search input{
    display: inline-block;
    height: 32px;
}

.search i{
    cursor: pointer;
}

/* Acerca */

.team{
    width: 90%;
    margin: auto;
    border: 1px solid #000;
}

#acercade{
    flex-direction: column;
    align-items: center;
}

#acercade p{
    padding: 32px;
}

#acercade h2{
    margin-top: 48px;
}

#acercade i{
    font-size: 48px;
    margin-top: 16px;
}

.login-page{
    width: 100%;
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%); */
    background: #000;
}

.login-page img{
    width: 320px;
    margin-bottom: 24px;
}

.login-page label{
    margin: 16px 0px;
    font-size: 24px;
    color: #fff;
}

.login-page input{
    display: block;
    width: 400px;
    height: 32px;
    background: none;
    border: none;
    border-bottom: 1px solid #6d6b6b;
    color: #fff;
}

.login-page a{
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    text-decoration: none;
    width: 250px;
    height: 40px;
    border-radius: 6px;
    background: #81238a;
    color: #fff;
}

/* .login-page p{
    margin: 16px;
    color: #fff;
    cursor: pointer;
} */